{% extends 'base.html' %}
{%block title%} List of The Snack  {%endblock%}

{% block content %}
<br>
<table>
  <thead >
    <tr>
      <th style=" color:red;">Snack's_Name</th>
      <th></th>
      <th></th>
      
    </tr>
   
  </thead>
  <tbody>
    {% for x in object_list %}
    <tr>
      <td><a href="{% url 'details' x.id %}">{{ x.title }}</a></td>
      <td><a class ="link2" href="{% url 'sna_updates' pk=x.pk %}"><button  type="button">Update</button></a></td>
<td><a href="{% url 'sna_delete' pk=x.pk %}"><button type="button">Delete</button></a></td>
</tr>
{% endfor %}
<br>
<tr>
    <td ><button type="submit"><a class ="link" href="{% url 'snack_create' %} ">Create Snacks</a></button>
    </td>
</tr>

      
  </tbody>
</table>
<br>
{% endblock %}
