{% extends 'base.html' %}
{% block title %}List of Snacks{% endblock %}

{% block content %}
<br>
<table>
  <thead>
    <tr>
      <th style="color: red;">Snack's Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for snack in object_list %}
    <tr>
      <td><a href="{% url 'details' snack.id %}">{{ snack.title }}</a></td>
      <td><a href="{% url 'sna_updates' pk=snack.pk %}"><button type="button">Update</button></a></td>
      <td><a href="{% url 'sna_delete' pk=snack.pk %}"><button type="button">Delete</button></a></td>
    </tr>
    {% endfor %}
    <tr>
      <td><button type="submit"><a class="link" href="{% url 'snack_create' %}">Create Snacks</a></button></td>
    </tr>
  </tbody>
</table>
<br>
{% endblock %}
